# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Data files and outputs
data/output_data/
data/yellow_taxi_jan_25_2018/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# PySpark local files
.metastore_db/

# Ignore test outputs
test-results/ 